<amplify-authenticator>
  <ng-template amplifySlot="authenticated" let-user="user" let-signOut="signOut">
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>Inventory</title>
      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
  
    <body>
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <h1>Welcome {{ user.attributes.name }}!</h1>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-primary" (click)="signOut()">Sign Out</button>
          </div>
        </div>
        <div class="jumbotron2">
          <h1>Inventory Dashboard</h1>
          <h4 class="center">Choose a store to view current inventory levels</h4>
        </div>
  
        <div class="row">
          <div class="col-md-4">
              <select name="stores" (change)="onStoreSelect($event)" style="width:100%; background-color: black; color: white;">
                <option [value]="null" selected>All Stores</option>
                <option *ngFor="let product of products_select" [value]="product.store">{{product.store}}</option>
              </select>
          </div>
        </div>

        <div class="row">
          <table class="col-md-5 m-8"> 
              <tr>
              <th>Store</th> 
              <th>Item</th>
              <th>Count</th>
              </tr>
              <tr *ngFor="let product of products">
                <td>{{product.store}}</td>
                <td>{{product.name}}</td>
                <td>{{product.count}}</td>
              </tr>
          </table>
  
          <div class="col-md-5 m-8" style="display: block;background-color: azure;">
              <canvas baseChart width="600" height="600"
              [datasets]="chartData"
              [labels]="chartLabels"
              [options]="chartOptions"
              [legend]="barChartLegend"
              [type]="barChartType"
              [plugins]="barChartPlugins"></canvas>
          </div>
        </div>
       
        <footer class="footer">
          <p>This page uses an Amazon Cognito identity to retrieve data directly from Amazon DynamoDB.</p>
        </footer>
      </div> <!-- /container -->
  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.40.min.js"></script>
      <script src="chart.min.js"></script>
      <script src="refresh.js"></script>
    </body>

  </html>
  </ng-template>
</amplify-authenticator>
